@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@font-face {
    font-family: 'Edo SZ';
    src: url('/fonts/EdoSZ.eot');
    src: url('/fonts/EdoSZ.eot?#iefix') format('embedded-opentype'), url('/fonts/EdoSZ.woff2') format('woff2'),
        url('/fonts/EdoSZ.woff') format('woff'), url('/fonts/EdoSZ.ttf') format('truetype'),
        url('/fonts/EdoSZ.svg#EdoSZ') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lemon/Milk';
    src: url('/fonts/LemonMilk.eot');
    src: url('/fonts/LemonMilk.eot?#iefix') format('embedded-opentype'), url('/fonts/LemonMilk.woff2') format('woff2'),
        url('/fonts/LemonMilk.woff') format('woff'), url('/fonts/LemonMilk.ttf') format('truetype'),
        url('/fonts/LemonMilk.svg#LemonMilk') format('svg');
    font-weight: normal;
    font-style: normal;
}
